@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

header#header{
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    max-width: 1000px;
    height: 60px;
    background-image: linear-gradient(225deg, #e8dff8 0, #ecdef6 5%, #f0def4 10%, #f3ddf1 15%, #f6dcee 20%, #f9dceb 25%, #fbdbe8 30%, #fddbe5 35%, #fedbe1 40%, #ffdbde 45%, #ffdbdb 50%, #ffdbd8 55%, #fedcd5 60%, #fdddd2 65%, #fcddd0 70%, #fadece 75%, #f7dfcd 80%, #f5e0cb 85%, #f2e1ca 90%, #efe2ca 95%, #ebe3ca 100%);
    text-align: center;
    padding: 10px;
}

a#title{
    display: none;
    font-size: 28px; 
}
div#wrap{
    position: relative;
}

div#slide_bg{
    display: none;
    position: fixed;
    top: 0;
    left: -50%;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

div#slide_menu{
    display: none;
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    margin-left: +300px;
    height: 100%;
    padding-top: 60px;
    background-image: linear-gradient(225deg, #e8dff8 0, #ecdef6 5%, #f0def4 10%, #f3ddf1 15%, #f6dcee 20%, #f9dceb 25%, #fbdbe8 30%, #fddbe5 35%, #fedbe1 40%, #ffdbde 45%, #ffdbdb 50%, #ffdbd8 55%, #fedcd5 60%, #fdddd2 65%, #fcddd0 70%, #fadece 75%, #f7dfcd 80%, #f5e0cb 85%, #f2e1ca 90%, #efe2ca 95%, #ebe3ca 100%);
    z-index: 1;
}
a#close_btn{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
}

ul.nav_mian, ul.m_nav, ul.m_nav_sub{
    text-align: center;
    list-style: none;
    padding-left: 0;
}

ul.nav_mian>li{
    display: inline-block;
    font-size: 0;
    margin: -2.9px;
}

.nav_title a, .nav_sub a{
    display: inline-block;
    padding: 8px 20px;
    width: 150px;
    transition: 0.3s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
 
ul.nav_sub{
    display: none;
    list-style: none;
    padding-left: 0;
    position: absolute;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul.m_nav_sub{
    display: none;
}

.m_nav_title a{
    display: inline-block;
    width: 100%;
    padding: 13px;
}
.m_nav_sub a{
    background-color: #fff;
}

div#content{
    max-width: 1000px;
    height: 1200px;
    background-image: radial-gradient(circle at 120.71% 50%, #f7f4fd 0, #f8f4fc 5%, #faf4fb 10%, #fbf4fa 15%, #fcf3f9 20%, #fdf3f8 25%, #fdf3f7 30%, #fef3f6 35%, #fff3f5 40%, #fff3f4 45%, #fff3f3 50%, #fff3f2 55%, #fff3f1 60%, #fef3f0 65%, #fef4ef 70%, #fdf4ef 75%, #fdf4ee 80%, #fcf5ee 85%, #fbf5ee 90%, #faf5ed 95%, #f8f6ed 100%);
}

div#burgerbtn{
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    ul.nav_mian{
      display: none;  
    }
    a#title{
        display: block;
    }
    div#burgerbtn{
        display: block;
    }
    div#slide_menu{
        display: block;
    }
    div#slide_bg{
        display: block; 
    }

    #logo{
        display: none;
    }
}

ul#cardOver{
    list-style: none;
    position: fixed;
    width: 860px;
    padding-left: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.87);
}

ul#cardOver li{
    position: relative;
    margin: 5px;
    width: 200px;
    height: 320px;
    display: inline-block;
    box-shadow: 2px 2px 2px gray;
    overflow: hidden;
}

ul#cardOver>li>img{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-out;
}

ul#cardOver li>.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.25s ease-out;
}

ul#cardOver li>.view{
  width: 100%;
  top: 110%;
  left: 50%;
  transform: translate(-50%,  -50%);
  padding: 15px;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  transition: .33s ease;
  z-index: 2;
}

.view h3{
  text-align: center;
  font-size: 27px;
  margin: 0;
  color: #fff;
  font-family: 'Yusei Magic', sans-serif;
}

.view p{
  font-size: 18px;
  color: #fff;
  opacity: 0;
  transition: .2s ease-out;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;

}

.view a{
  display: inline-block;
  text-decoration: none;
  padding: 7px 35px;
  margin-top: 10px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.28s;
  opacity: 0;
  font-family: 'Rubik', sans-serif;
}
  .view a:hover{
    background-color: #fff;
    color: #000;
}

ul#cardOver li:hover img{
    top: -10px;
}
ul#cardOver li:hover .bg{
    background: rgba(0,0,0, 0.44);
}
ul#cardOver li:hover .view{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul#cardOver li:hover .view>p, ul#cardOver li:hover .view>a{
     opacity: 1;
}

#content h1 {
    font-size: 2em;
    letter-spacing: 8px;
    line-height: 1.325em;
    font-family: 'Arvo';
    font-weight: 700;
    color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgb(0 0 0 / 10%);
    font-size: 3em;
    letter-spacing: 13px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

#logo {
    position:fixed;
    padding-left: 350px;
    padding-top: 5px;;
}

#content h1 a {
    border: 0;
}

a:hover {
    color: #ed786a;
    border-bottom-color: rgba(255, 255, 255, 0);
}

a {
    -moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    color: #666;
    text-decoration: none;
}

.slider {
    list-style:none;
    height:500px;
    overflow:hidden;
  }
  .slider:after {
    content:'';
    display:block;
    clear:both;
  }
  
  .slider li {
    /* position:absolute; */
    top:0;
    left:0;
    width:100%;
    height:500px;
    opacity:0;
    margin-top: 400px;
    margin-left: 90px;
  }
  
  .slider li div {
    width:740px;
    height:32%;
    background-size:cover;
    position:fixed;
    /* margin-top: 450px;
    margin-left: 370px; */
  }
  .slider li dl {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:20px;
  }
  .slider li .right {
    left:auto;
    right:20px;
    text-align:right;
  }
  .slider li dt {
    color:#fff;
    font-size:3rem;
    text-shadow:1px 1px 10px #444;
  }
  .slider li dd {
    color:#fff;
    text-shadow:1px 1px 10px #444;
  }

  